article {
    background: cadetblue;;
    display: grid
    
}
header {
    background: azure
}
section.main {
    margin-left: 25px ;
    margin-right: 25px ;
}
section.sources {
    margin-left: 25px ;
    margin-left: 25px ;
    border-top: 10px
}
img {
    float: left;
    border-top: 10px;
    margin-right: 15px;
    margin-top: 10px;
    

}